# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file
.terraform.lock.hcl

# Sensitive Keys & Certs
*.pem
*.key
*.pfx
id_rsa
id_rsa.pub

# OS / Editor Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log