{
  "resource_group_name": "myRG",
  "location": "eastus",
  "vnets": [
    {
      "name": "hub-vnet",
      "address_space": ["172.20.10.0/24"],
      "subnets": [
        { "name": "GatewaySubnet", "address_prefix": "172.20.10.0/27" },
        { "name": "hub-app-subnet", "address_prefix": "172.20.10.32/27" },
        { "name": "hub-mgmt-subnet", "address_prefix": "172.20.10.64/27" }
      ]
    },
    {
      "name": "spoke-vnet",
      "address_space": ["172.20.20.0/24"],
      "subnets": [
        { "name": "spoke-app-subnet", "address_prefix": "172.20.20.0/26" },
        { "name": "spoke-db-subnet", "address_prefix": "172.20.20.64/26" },
        { "name": "spoke-mgmt-subnet", "address_prefix": "172.20.20.128/26" }
      ]
    }
  ],
  "vpn_gateway": {
    "vpn_gateway_name": "hub-vpn-gateway",
    "public_ip_name": "hub-vpn-pip",
    "sku": "VpnGw1",
    "vpn_client_address_pool": ["172.16.0.0/24"],
    "vpn_client_protocols": ["OpenVPN"],
    "vpn_auth_types": ["Certificate"],
    "root_cert_name": "my-root-cert"
  },
  "virtual_machine": {
    "name": "vpn-test-vm",
    "size": "Standard_B2s"
  }
}
