{
  "aks_name": "demo-aks-cluster",
  "resource_group_name": "demo-devops-rg",
  "location": "eastus",
  "acr_id": "/subscriptions/<SUBSCRIPTION_ID>/resourceGroups/<RESOURCE_GROUP>/providers/Microsoft.ContainerRegistry/registries/<ACR_NAME>"
}
