# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# OS files
.DS_Store
Thumbs.db

# Terraform lock file
.terraform.lock.hcl


# VS Code
.vscode/

